/** Main layout **/
html, body {
    background: #eeeeee !important;
    font-family: Helvetica, Arial, Sans !important;
    height: 100%;
    margin: 0px;
}

body {
    width: 100%;
    margin: auto;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-top: 40px;
    padding-bottom: 84px;
}

/* must be same height as the footer */
#footer {
    background: url("images/footer.png") no-repeat center;
    position: relative;
    margin-top: -64px; /* negative value of footer height */
    padding-top: 20px;
    height: 44px;
    text-align: center;
    clear: both;
}

/*Opera Fix*/
body:before {
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;
}

/* The white background content wrapper */
.content-fluid {
  background-color      : #fff;
  padding               : 20px;
  margin                : 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius : 0 0 6px 6px;
  -moz-border-radius    : 0 0 6px 6px;
  border-radius         : 0 0 6px 6px;
  -webkit-box-shadow    : 0 1px 2px rgba(0, 0, 0, .15);
  -moz-box-shadow       : 0 1px 2px rgba(0, 0, 0, .15);
  box-shadow            : 0 1px 2px rgba(0, 0, 0, .15);
}

/* Page header tweaks */
.page-header {
  background-color : #f5f5f5;
  padding          : 20px 20px 10px;
  margin           : -20px -20px 20px;
}

.navbar img {
  margin-top: 10px;
  margin-right: 10px;
  /* Ensure to keep the same size on the navbar even when it has no menu */
  margin-bottom: 10px;
}


/*
 * DataTables style compat with bootstrap
 */


div.dataTables_length label {
	float: left;
	text-align: left;
}

div.dataTables_length select {
	width: 75px;
}

div.dataTables_filter label {
	float: right;
}

div.dataTables_info {
	padding-top: 8px;
}

div.dataTables_paginate {
	float: right;
	margin: 0;
}

table.table {
	clear: both;
	margin-bottom: 6px !important;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
	cursor: pointer;
	*cursor: hand;
}

table.table thead .sorting { background: url('images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('images/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('images/sort_desc_disabled.png') no-repeat center right; }

table.dataTable th:active {
	outline: none;
}

table.dataTable thead th {
	border-bottom: none;
}